/*  Remove as margens da página.
    Altera a cor de fundo.
    Altera a cor da fonte.
    Usada em todas as páginas. */
#body_top
{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    background-color: black;
    color: yellow;
}

/*  Altera a cor do link.
    Usado em todas as páginas. */
a:link
{
    color: yellow;
    text-decoration: underline;
}

/*  Altera a cor do link visitado.
    Usado em todas as páginas. */
a:visited
{
    color: yellow;
    text-decoration: underline;
}

/*  Altera a cor do link ao passar o mouse por cima.
    Usado em todas as páginas. */
a:hover
{
    color: orange;
    text-decoration: underline;
}

/*  Altera a cor do link ativo.
    Usado em todas as páginas. */
a:active
{
    color: yellow;
    text-decoration: underline;
}

/*  Div mãe do topo da página.
    Arquivo top.php. */
#top_all
{
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

/*  Div da esquerda, dentro da div #top_all.
    Contem o nome da pagina.
    Arquivo top.php. */
#esq
{
    color: yellow;
}

/*  Div da direita, dentro da div #top_all.
    Contem os links: home, logout...
    Arquivo top.php. */
#dir
{
    color: yellow;
    padding-right: 10px;
    padding-top: 50px;
}

/*  Div do rodapé da página.
    Arquivo botton.php. */
#bottom
{
    border-top-style: solid;
    border-top-color: white;
    border-top-width: 1px;
    font-size: xx-small;
}

/*  Altera cor de fundo das tabelas.
    Usado em todas as tabelas. */
.tabela
{
    background-color: gray;
    width: 70%;    
}

/*  Altera cor da linha e a fonte na linha de título da tabela.
    Usado em todas as tabelas. */
.linha_titulo
{
    background-color: gray;
    color: black;
    font-weight: bolder;
    text-align: center;
}

/*  Altera a cor de fundo das celulas e a fonte.
    Usado em todas as tabelas. */
.celula_conteudo
{
    background-color: black;
    color: yellow;
}

/*  Centraliza o conteúde de uma célula nas tabelas. */
.centro
{
    text-align: center;
}

/*  Altera o cursor dos elementos HTML do tipo img.
    Usado em todo o site. */
img
{
    cursor: pointer;
}