#body_top
{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    background-color: black;
    color: yellow;
}

a:link
{
    color: yellow;
    text-decoration: underline;
}

a:visited
{
    color: yellow;
    text-decoration: underline;
}

a:hover
{
    color: orange;
    text-decoration: underline;
}

a:active
{
    color: yellow;
    text-decoration: underline;
}

#top_all
{
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

#esq
{
    color: yellow;
}

#dir
{
    color: yellow;
    padding-right: 10px;
    padding-top: 50px;
}

#bottom
{
    border-top-style: solid;
    border-top-color: white;
    border-top-width: 1px;
    font-size: xx-small;
}

.tabela
{
    background-color: gray;
    width: 70%;    
}

.linha_titulo
{
    background-color: gray;
    color: black;
    font-weight: bolder;
    text-align: center;
}

.celula_conteudo
{
    background-color: black;
    color: yellow;
}

.centro
{
    text-align: center;
}